:root {
  scroll-behavior: smooth;
  --background-color: #f7f7f7;
  --font-color: #464545;
}

@media (min-width: 600px) {
  html {
    overflow: auto;
    width: 100vw;
    background-color: var(--background-color);
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    width: 100%;
  }

  #app-bar, #app-bar-button {
    display: none;
  }

  nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
  }

  #links-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  a[class="route"] {
    color: var(--font-color);
    text-decoration: none;
    position: relative;
  }

  a[class="route"]:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.25rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--font-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a[class="route"]:hover:after {
    width: 100%; 
    left: 0; 
  }

  #container {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
  }

  h2 {
    margin: 0px 0px 0px 125px;
    padding: 25px 0 0 0;
    color: #000;
    font-size: 3rem;
  }

  li {
    list-style-type: none;
  }

  /* Home */

  #home-description {
    font-size: 1.2rem;
    margin: 100px 0px 0px 150px;
    max-width: 450px;
  }

  #download {
    display: inline-block;
    margin-inline-start: 280px;
    margin-block-start: 150px;
  }

  a button {
    font-size: 1.2rem;
    color: #383838;
    border: 1px solid #646665;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 15px;
    background-color: var(--background-color);
  }

  a button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  section {
    width: 50%;
    position: absolute;
    top: 70px;
    right: 0px;
  }

  h4 {
    font-size: 1.5rem
  }

  #stack-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .stack li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-inline-start: -40px;
    margin-block: 20px;
  }

  .tech-logo {
    width: 40px;
    margin-inline-end: 20px;
  }

  .big {
    width: 33px;
  }

  /* Education */

  .educ-port-exp {
    margin: 50px 0 0px 250px;
  }

  .school-seal {
    width: 150px;
    float: left;
    display: inline;
    margin-inline-end: 25px;
  }

  h3 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    max-width: 80%;
  }

  .course {
    font-size: 1.5rem;
    font-style: italic;
  }

  /* Portfolio */

  .project-tile {
    width: 75%;
  }

  .techs-used ul{
    display: flex;
  }

  /* Contacts */

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  h5 {
    font-size: 1.5rem;
    margin: 50px 0px 50px 300px;
  }

  .contact-container a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
  }

  .contact-container a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.25rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--font-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .contact-container a:hover:after {
    width: 100%;
    left: 0;
  }

  a[class*="fab"] {
    font-size: 1.4rem;
    margin-inline: 50px 10px;
  }
}

/* ---------------------------------------------- */

@media (max-width: 600px) {
  html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
  }

  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .hidden {
    overflow-y: hidden;
  }

  main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }
  
  #app-bar {
    position: absolute;
    top: 5vh;
    right: 5vh;
  }

  .line {
    width: 1.75rem;
    height: 0.25rem;
    background-color: #383838;
    border-radius: 10rem;
    margin-block: 0.5vh;
  }

  #app-bar-button {
    width: 2.25rem;
    height: 2rem;
    position: absolute;
    top: 4.5vh;
    right: 4.5vh;
    background-color: transparent;
    border: none;
    z-index: 3;
  }

  #nav-wrapper {
    position: relative;
    transform: translate(100%);
    transition-duration: 500ms;
    z-index: 2;
    background-color: transparent;
    background-color: var(--background-color);
  }

  #nav-wrapper.active {
    transform: none;
  }

  #close-nav {
    width: 2.25rem;
    height: 2rem;
    position: absolute;
    top: 1.5vh;
    right: 4.5vh;
    border: none;
    z-index: 3;
  }

  #close-nav:after {
    content: "\D7";
    width: 2.25rem;
    height: 2rem;
    color: var(--font-color);
    font-size: 4rem;
  }

  nav {
    width: 100vw;
    height: 100vh;
    transition-duration: 600ms;
  }

  #links-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    justify-content: flex-start;
    align-items: center;
    padding-block-start: 17.5vh;
  }

  a[class="route"] {
    width: fit-content;
    color: var(--font-color);
    text-decoration: none;
    margin-block: 2.25vh;
  }

  #container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-block: 15vh 10vh;
    color: #000;
    text-align: center;
    font-size: 2.5rem;
  }

  li {
    list-style-type: none;
  }

  /* Home */

  #home-description {
    font-size: 1rem;
    max-width: 80vw;
    margin-inline: auto;
    margin-block-end: 7.5vh;
  }

  #download {
    display: inline-block;
    margin-block: 7.5vh;
    margin-inline: auto;
  }

  a button {
    font-size: 1.2rem;
    color: #383838;
    border: 1px solid #646665;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 15px;
    background-color: var(--background-color);
  }

  a button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  section {
    width: 90vw;
    margin-inline-start: 5vw;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem
  }

  #stack-container {
    margin-inline-start: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .stack li {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-inline-start: -40px;
    margin-block: 20px;
  }

  .tech-logo {
    width:7.5vw;
    margin-inline-end: 20px;
  }

  .big {
    width: 6.3vw;
  }

  /* Education */
  .educ-port-exp {
    margin: 0;
  }

  .school-seal {
    width: 15vw;
    float: left;
    display: inline;
    margin-inline-end: 2.5vw;
  }

  .school {
    font-size: 1.5rem;
  }

  p {
    width: 80%;
  }

  .course {
    font-size: 1.25rem;
    font-style: italic;
  }

  .educ-p {
    font-size: 1rem;
    margin-inline-start: 20vw;
  }

  /* Portfolio */

  .project-tile {
    width: 80vw;
  }

  .project-tile p {
    width: 100%;
  }

  .techs-used ul{
    display: flex;
  }

  /* Contacts */

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  h5 {
    font-size: 1.5rem;
    margin-inline-start: 7.5vw;
  }

  a[class*="fab"] {
    font-size: 1.1rem;
    margin-inline: 5vw 1.5vw;
  }
  
  .contact-container a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.1rem;
  }
}